* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  background-color: rgb(255, 248, 248);
}

.todo-container {
  border-radius: 15px 30px;
  background: rgb(23, 8, 236);
  width: 500px;
  margin: 100px auto;
  padding: 20px 30px;
}

.title > h2 {
  font-size: 27px;
  color: #ffffffdc;
}

.title > span {
  font-size: 16px;
  color: darkgray;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkslategrey;
  padding: 8px 10px;
  margin: 14px 0;
  border-radius: 5px 20px;
}

.list-item > div {
  display: flex;
  align-items: center;
}

.name {
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 400;
}

.checked,
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  cursor: pointer;
}

.createdAt {
  color: darkgray;
  font-size: 15px;
  font-weight: 400;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.input {
  outline: 0;
  border: 0;
  height: 35px;
  padding: 12px 15px;
  border-radius: 5px 0 0 16px;
  width: 100%;
  font-size: 16px;
  background-color: #f5f5f5;
}

.button {
  outline: 0;
  background-color: darkblue;
  color: #f5f5f5;
  border: 0;
  padding: 8.2px 5px;
  border-radius: 0 16px 5px 0px;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
}

.plus-btn-box {
  text-align: right;
}

.plus-btn {
  outline: 0;
  border: 0;
  font-size: 24px;
  cursor: pointer;
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px 15px;
  color: grey;
}

.isChecked {
  text-decoration: line-through;
  background-color: rgb(0, 107, 34);
  color: rgb(169, 1, 1) !important;
}

.edit-s {
  color: orange;
  background-color: rgba(0, 0, 0, 0.708);
  padding: 4px 7px;
  font-size: 16px;
  cursor: pointer;
}

.check {
  background-color: rgba(0, 0, 0, 0.735);
  color: white;
  padding: 4px 7px;
  font-size: 16px;
  cursor: pointer;
}
.del-s {
  color: red;
  background-color: rgba(0, 0, 0, 0.708);
  padding: 4px 7px;
  font-size: 16px;
  cursor: pointer;
}

.circle:hover {
  background-color: red;
}
.hidden {
  display: none;
}
